body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: whitesmoke;
    margin: 0px;
}

.name-color {
    color: orange;
}

h1 {
    font-size: 40px;
}

.c-lab {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(21, 12, 12), rgb(131, 130, 130));
    padding-left: 20px;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    border-radius: 4px;
}

/* section {
    display: flex;
    margin-bottom: 100px;
} */
.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 85%;
    padding-left: 150px 100px;

    border-left: 5px solid gray;
    border-radius: 5px;
}

.ang {
    text-decoration: none;
    color: white;
    background-color: gray;
    border-radius: 2px;
}

.Experiences {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
}

#SC {
    border-left: 5px solid white;
    border-bottom: 5px solid gray;
}

#AP {
    border-left: 5px solid whitesmoke;
    border-bottom: 5px solid gray;
}

footer p {
    text-align: center;
}