body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(/backlash.jpg);
    color: whitesmoke;
    margin: 0px;
}

.name-color {
    color: orange;
}

.c-lab {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(21, 12, 12), rgb(131, 130, 130));
    padding-left: 20px;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    border-radius: 4px;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 85%;
    padding-left: 150px 100px;

    border-left: 5px solid gray;
    border-radius: 5px;
}

.half {
    width: 100%;
}